html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

#map {
    height: 100%;
}

.devices_block {
    position: absolute;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    z-index: 999;
    padding: 20px;
    border-radius: 5px;
    margin: 100px 10px 10px 10px;
    opacity: 0.9;
}

.device_option {
    margin-top: 1px;
    width: 20px;
    height: 20px;
}

.device_name {
    margin-right: 50px;
    display: inline;
    vertical-align: super;
}

.rectangle {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rectangle .row {
    position: relative;
    display: block;
    padding: .7em .4em .7em .8em;
    border-top: 1px solid #e6e6e6;
    background: white;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
    cursor: pointer;
}

.rectangle .row:hover {
    background: #fafafa;
}

.close_block {
    color: #777;
    font: 14px/100% arial, sans-serif;
    float: right;
}
		
.title {
    margin-left:10px;
    display: inline;
}
		
.add_active {
    text-decoration: none;		
}

.textBox {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px;
}

.copyrights {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding: 8px;
    margin: 6px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    right: 0;
    top: 0;
    z-index: 99;
    font-size: 13px;
}

.online {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #11fb11;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 5px;
    vertical-align: middle;
}

.offline {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #ff5605;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 5px;
    vertical-align: middle;
}

.disabled {  
    -webkit-filter: grayscale(100%);  
} 