@model MomIsWatching.Models.DeviceContext

@{
    Layout = null;
    ViewBag.Title = "MapPage";
}

<!DOCTYPE html>
<html>
<head>
    <title>Mom is watching!</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    @Styles.Render("~/Content/style.css")

</head>
<body>
    <div class="copyrights">
        Web by Roman Maleryk (<a href="http://maleryk.xyz/" target="_blank">http://maleryk.xyz/</a>)
    </div>
    

    <div id="home" class="devices_block">
        Devices:
        <ol class="rectangle">
            @foreach (MomIsWatching.Models.Device device in Model.Devices)
            {
                @Html.Partial("DeviceRow", device)
            }
        </ol>
    </div>

    
    <div id="second_screen" class="devices_block" style="display:none">
        <div class="close_block" style="position:absolute;top: 10%;">
            <a href="#" onClick="openFirstScreen();">x</a>
        </div>
        <ol class="rectangle">
            <li><p class="title">Device 1</p></li>
            <li><a href="#">Update Time:</a><input type="text" class="rounded"></li>
            <li><a href="#">Position:</a><input type="text" class="rounded"></li>
            <li><a onClick="openThirdScreen();" href="#"><b>Active zones</b></a></li>
            <li><a href="#"><b>Просто еще одна настройка</b></a></li>
        </ol>


    </div>
    
    <div id="third_screen" class="devices_block" style="display:none">
        <div onClick="openSecondScreen();" class="close_block" style="position:absolute;top: 30px;">
            <a href="#">x</a>
        </div>
        <ol id="zones" class="rectangle">
            <li><p class="title">Active zones</p></li>
            <li>
                <div onClick="delActiveZone(this);" style="position: relative;margin: 0 0 0 200px;" >
                    <p>-</p>
                </div>
                <a href="#"><b>Name:</b></a><input type="text" class="rounded">
                <a href="#">Center:</a><input type="text" class="rounded">
                <a href="#">Radius:</a><input type="text" class="rounded">
            </li>
        </ol>
        <a onClick="addActionZone();" class="add_active" href="#"><p style="text-align: center;font-weight:bolder;"><b>+</b></p></a>


    </div>
 

    <!-- MAP CANVAS -->
    <div id="map"></div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/init.js")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdfmTZPJ5Qmcdhk-IGcIdT-88MG7ycT4k&signed_in=true&callback=initMap"></script>

</body>
</html>
