@model MomIsWatching.Models.DeviceContext

@{
    Layout = null;
    ViewBag.Title = "MapPage";
}

<!DOCTYPE html>
<html>
<head>
    <title>Mom is watching!</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    @Styles.Render("~/Content/style.css")

</head>
<body>
    <div class="copyrights">
        Web by Roman Maleryk (<a href="http://maleryk.xyz/" target="_blank">http://maleryk.xyz/</a>)
    </div>
    

    <div id="home" class="devices_block">
        <p class="title">Devices:</p>
        <ol class="rectangle">
            @foreach (MomIsWatching.Models.Device device in Model.Devices)
            {
                @Html.Partial("DeviceRow", device)
            }
        </ol>
    </div>
    
    <div id="second_screen" class="devices_block" style="display: none">
        
        <p class="title">Device settings:</p> <a class="close_block" href="#" onClick="openFirstScreen();">Save</a>
        
        <ol class="rectangle">
            <li><div class="row" href="#">DeviceId: <input id="deviceId" name="name" type="text" size="24" class="textBox" readonly></div></li>
            <li><div class="row" href="#">Device name: <input id="name" name="name" type="text" size="20" class="textBox"></div></li>
            <li><div class="row" href="#">Update Time: <input id="interval" name="interval" type="text" size="5" class="textBox"> seconds</div></li>
            <li><div class="row" href="#">Position: <input id="position" type="text" size="24" class="textBox" readonly></div></li>
            <p style="padding-left: 10px;">Active zone:</p>
            <li><div class="row" href="#">Center: <input id="center" type="text" size="25" class="textBox"><img onClick="dropMarker(null);" style="margin-left: 5px;vertical-align: middle;"  height="20" src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=•|FF0000"></div></li>
            <li><div class="row" href="#">Radius: <input id="radius" type="text" size="5" class="textBox"> meters</div></li>
        </ol>
    </div>
   

    <!-- MAP CANVAS -->
    <div id="map"></div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/init.js")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdfmTZPJ5Qmcdhk-IGcIdT-88MG7ycT4k&signed_in=true&callback=initMap"></script>

</body>
</html>
